/*Esto es un comentario*/
/*
    Elemento {
        propiedad: valor;
    }

*/
* {

    font-family: 'Exo 2', sans-serif;;
    padding: 0;
    margin: 0;
    
}

.grid-conteiner {

    
    display: grid;

    grid-template-rows: repeat(11, 100px);

    grid-template-columns: repeat(12, 1fr);

    
}

/* Header */

header {

    position: sticky;
    top: 0;
    background-color: #c5e0f8;
    
    
    
}

.menu {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;

}

.menu-movil {

    display: none;

}

.div-logo{

    position: absolute;

    top: 1rem;
    bottom: 2rem;
    left: 4rem;

}

.img-logo {

    width: 8rem;
    height: 8rem;
    
}

.nombre-empresa {

    font-size: 3.5rem;
    color: #191970;
    position: relative;
    left: 14rem;
}


.navegador-desktop ul {

    width: 100%;
    

}

.navegador-desktop ul li{

    display: inline;
    background-color: #ffffff;
    border: 2px solid #acb4f6;
    border-radius: 20px;
    
    font-size: 1.5rem;
    margin-right: 5px;
    text-decoration: unset;
    text-align: right;
    
}

li a{

    color: #6558f5;
    
    text-decoration: none;

}

.selected {

    background-color: #6558f5;
    border: 2px solid #acb4f6;
    border-radius: 20px;
    color: #ffffff;

    
}

/* Main */



.index-main {

    grid-row: 2/5;

    grid-column: 3/11;

    background-image: url(../assets/reflejo-hombres-negocios.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;

}

.index-main-movile {

    display: none;

}

.pages-information {

    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.pages-information-movile {

    display: none;

}

.pages-information h2 {

    font-size: 3rem;
    font-weight: 900;
    color: #050a13;

}

.pages-information p {

    
    font-weight: 600;
    font-size: 1.7rem;
    color: rgb(6, 9, 26);
    margin: 0 100px;

}

/* Aside */

.index-aside-desktop {

    grid-row: 6/10;

    grid-column: 2/12;

    
    background-color: #d5e7f7;
    
}

.index-aside-movile{

    display: none;

}

.aside-section {

    display: flex;
    
    height: 91%;
    
    align-items: center;
    flex-direction: row;
    justify-content: center;
    

}

.novedades {

    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}

.card-section { 
    display: flex;
    height: 100%;
    flex-direction: column;
    margin: 0 10px;
    align-items: center;
}

.card-section q {

    text-align: center;

}

.card q {

   width: 300px;

   text-align: center;
   font-size: 1.25rem;
   font-weight: 200;

}

.img-card {
    
    height: 100%;
    width: 100%;
    
}


/* Footer */

.index-footer {

    grid-row: 11/12;

    grid-column: 1/13;

}

.footer-conteiner {

    display: flex;

    align-items: center;

    flex-direction: row-reverse;

    justify-content: space-around;

    background-color: rgb(142 149 154);

    height: 100%;
}

.div-logo-footer {

    display: flex;
    flex-direction: row;
    align-items: center;
}

.div-logo-footer h6 {

    font-size: 2.5rem;


}

.img-logo-footer{

    width: 4rem;

    height: 4rem;

}

.card-contactos{

    width: auto;
    
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.card-text{

    margin-bottom: 0.5rem;

}

.redes-sociales {

    margin-top: 0.2rem;

}

.btn {

    margin-bottom: 1rem;

}

.card-footer {

    width: 30%;
    
    display: inline-block;
    
}

.logo-del-footer {

    width: 4rem;
    height: 4rem;

}

.card-footer ul li {

    font-size: 0.7rem;

    text-decoration: unset;

}


.card-footer a{

    font-size: 0.7rem;
 
}

.ul-redes a{

    list-style: none;

    color: #000000;

}

.li-movile {

    display: none;

}
/* ACA PONEMOS LOS CODIGOS DE LA PAGINA DE SERVICIOS */

.main-servicios {

    margin: 3% 10%;

    height: 600px;

    background-color: #d5e7f7;
}


.img-bloque{

    display: inline;

    width: 250px;
    height: 250px;

    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    
}

.card-texto {

    width: 1000px;

    display: inline-block;

}

.card-imagen {

    display: inline-block;

    width: 300px;

}

.card-texto h2 {

    font-size: 3rem;

    font-weight: 500;

}

.card-texto p {

    display: inline;
    
    font-size: 1.5rem;
    font-weight: 300;

}

.section-block-dos {

    text-align: right;
    
    height: 50%;

    width: 100%;

}

/* Codigo de la pagina de Productos */


.main-productos {


    margin: 50px 225px;
    height: 700px;

}

.section-aside {

    border: 2px solid grey;

}
.bloque {

    background-color: #d5e7f7;

    width: 450px;

    height: 600px;

    margin: 20px 0 30px 0;

    display: inline-block;

    border: 1px solid #cae5fd;

}

.bloque-del-medio {

    background-color: #ffffff;

    border: 1px solid #c5c5c5;

}

.card-bloque {

    text-align: center;

}

.card-bloque h2{

    font-weight: 500;

}

.card-bloque p {

    font-size: 1.5rem;
    font-weight: 200;
}

.img-bloque{

    width: 85%;

    height: 250px;

    margin: 20px;

}


/* Codigo de la pagina de administracion */

.main-administracion {

    
    position: fixed;
    top: 20;

}

.section-administracion {

    height: 700px;

    border: 2px solid #c8d3dc;

}

.section-administracion ul li {

    margin-top: 20px;

    margin-left: 10px;

}

.aside-administracion {


    background-color: #d5e7f7;
 
    margin-top: 20px;

    margin-left: 15px;

    width: 1500px;

    height: 750px;
}

.img-carnet {

    width: 200px;
    height: 200px;

    display: inline-block;

    margin-right: 20px;
}

.datos-personal {

    font-weight: 400;

    font-size: 1.5rem;

    display: inline-block;

}

.footer-administracion {

    width: 300px;

}


/* Codigo de la pagina de Iniciar Sesion */


.main-iniciar-sesion {

    display: grid;

    grid-template-columns: repeat(12, 1fr);

    grid-template-rows: repeat(8, 90px);

}

.footer {

    position: relative;

    bottom: 0;

    width: 100%;

}

.div-conteiner-flex {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

}



.section-img {

    grid-row: 2/8;

    grid-column: 3/8;

    background-image: url(../assets/login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}



.section-login {

    grid-row: 2/8;

    grid-column: 8/11;

    background-color: #d5e7f7;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}


.box-login h4 {

    text-align: center

}

.input {

    width: 95%;

}


.img-login {

    width: 100%;

    height: 100%;
  
}

.formulario {

    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;

}

.submit-formulario {

    margin-top: 5px;
    background-color: #299af3d4;
    border: 1px solid #0d4fb1;
    color: #fffef3;
    border-radius: 3px;
    padding: 3px;
}

/* Tablet */


@media only screen and (min-width: 481px ) and (max-width: 800px){

    header {

        padding-bottom: 15px;
        padding-top: 15px;

    }
    .nav-movile {

        background-color: #c5e0f8;
        padding: 0;
        display: flex;
    }
    .container-fluid {

        background-color: #c5e0f8;

    }
    .menu {

        display: none;
    }
    .menu-movil {

        display: flex;
        flex-direction: row-reverse;


    }
    .div-logo{

        top: 1rem;
        bottom: 1rem;
        left: 3rem;

    }

    .img-logo {

        width: 4rem;
        height: 4rem;
        
    }
    .grid-conteiner {

    
        display: grid;
    
        grid-template-rows: repeat(8, 100px);
    
        grid-template-columns: repeat(12, 1fr);
    
        
    }
    

    .index-main{

        grid-row: 1/3;
        
        grid-column: 1/13;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    
    }

    .pages-information-desktop {

        display: none;

    }

    .pages-information-movile {

        display: flex;
        flex-direction: column;
        align-items: center;

    }


    .index-aside-desktop {

        display: none;

    }

    .index-aside-movile {

        display: flex;

        grid-row: 4/7;

        grid-column: 2/12;

    }

    .img-carrousel {

        height: 100%;

        width: 100%;

    }

    .index-footer {

        grid-row: 8/10;

    }

    .div-logo-footer h6{

        display: none;

    }

    .img-logo-footer {
        width: 3rem;
        height: 3rem;
    }
    .card-contactos p{

        display: none;

    }
    .card-contactos h5{

        display: none;

    }

    /* INICIO DE SESION */

    .main-iniciar-sesion {

        display: grid;
    
        grid-template-columns: repeat(12, 1fr);
    
        grid-template-rows: repeat(6, 90px);
    
    }

    .section-img {

        display: none;

    }

    .section-login{

        
        grid-row: 2/6;

        grid-column: 3/11;

        background-image: url(../assets/login.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

    }

}


/* Movile */


@media only screen and (max-width: 480px) {

    header {

        padding-bottom: 15px;
        padding-top: 15px;

    }
    .nav-movile {

        background-color: #c5e0f8;
        padding: 0;
        display: flex;
    }
    .container-fluid {

        background-color: #c5e0f8;

    }
    .container-fluid h1 {

        color: #191970;

    }
    .menu {

        display: none;
    }
    .menu-movil {

        display: flex;
        flex-direction: row-reverse;


    }
    .div-logo{

        top: 1rem;
        bottom: 1rem;
        left: 3rem;

    }

    .img-logo {

        width: 4rem;
        height: 4rem;
        
    }
    .grid-conteiner {

    
        display: grid;
    
        grid-template-rows: repeat(8, 100px);
    
        grid-template-columns: repeat(12, 1fr);
    
        
    }

    body {

        background-color: #83868a8c;

    }

    .index-main{

        grid-row: 1/4;
        grid-column: 1/13;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .pages-information-desktop {

        display: none;

    }

    .pages-information-movile {

        display: flex;
        flex-direction: column;
        align-items: center;

    }


    .index-aside-desktop {

        display: none;

    }


    .index-aside-movile {

        display: flex;

        grid-row: 5/7;

        grid-column: 2/12;

    }

    .index-footer {

        grid-row: 8/10;
        grid-column: 1/13;

    }

    
    .card-contactos {

        width: auto;

    }
    .div-logo-footer h6{

        display: none;

    }
    .img-logo-footer {

        width: 3rem;
        height: 3rem;

    }
    .card-contactos p{

        display: none;

    }
    .card-contactos h5{

        display: none;

    }

    /* INICIO DE SESION */
    .main-iniciar-sesion {

        display: grid;
    
        grid-template-columns: repeat(12, 1fr);
    
        grid-template-rows: repeat(5, 50px);
    
    }

    .section-img {

        display: none;

    }

    .section-login{

        
        grid-row: 2/5;

        grid-column: 2/12;

        background-image: url(../assets/login.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

