// ACA VAN TODOS LOS ATRIBUTOS DE HEADER

/*  HEADER  */



header {

    position: sticky;
    top: 0;
    background-image: linear-gradient(to right, #0003bd, #019faa);
    padding-bottom: 5px;

    z-index: 100;
       
}

.div-logo {

    h1 {

        position: absolute;
    
        top: 1.5rem;
        left: 12rem;
        color: $cool-h1;
        
    }
   
}

.img-logo {

    position: absolute;

    top: 1rem;
    bottom: 2rem;
    left: 4rem;

    width: 8rem;
    height: 8rem;
    
    
}

.menu {

    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;

    nav {

        background-color: #ffffff00;
        padding: 0;

        div {

            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            background-color: transparent;
        
            flex-direction: row-reverse;
            
            button {

                text-align: right;
                background-color: transparent;
            
            }
        }

    }

}

.bg-body-tertiary {

    --bs-bg-opacity: 1;
    background-color: transparent !important;

}

.navbar-collapse {

    margin: 0;
    ul {
        li {

            display: inline;
            background-color: $button-navbar-background;
            border: 2px solid #e7e7e7;
            border-radius: 30px;
            
            font-size: 1.2rem;
            margin-right: 5px;
            text-decoration: unset;
            text-align: right;

            &:hover {

                transform: scale(1.1);

                background-color: #bce1f7;

            }
   
        }
    }
}

